@attribute [StreamRendering]
<AuthorizeView>
    <Authorized>
        <a href="Account/Logout"><MudButton Variant="Variant.Filled" Color="Color.Tertiary">Log Out</MudButton></a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login"><MudButton Variant="Variant.Filled" Color="Color.Tertiary">Log in</MudButton></a>
    </NotAuthorized>
</AuthorizeView>